*{
    margin: 0;
    padding: 0;
}
.spacing{
    padding: 8px;
}
/* css for header */

.header{
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
    z-index: 1;
    background-color: white;
}

/* Css for side bar */
.sidebar{
    padding: 0;
    width: 280px;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 2;
    overflow-y: auto;
    outline: 0;
    box-shadow: 0px 0px 20px 0px rgb(44 101 144 / 10%);
}
.sidebar::-webkit-scrollbar{
    width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 10px;
    -webkit-border-radius: 10;
}
.menu-item {
    width: 250px;
    text-align: left;
    padding: 6px 12px;
}
.btn:focus{
    box-shadow: none;
}
.menu-item:hover{
    background-color: rgba(0, 0, 0, 0.08);
}
.selected{
    background-color: rgba(0, 0, 0, 0.08);
}
.category-item{
    margin: 0px 12px;
    padding: 6px 12px;
}
.tour-item{
    margin: 0px 24px;
    padding: 6px 12px;
}

.tourpage-title{
    font-size: 20px;
    margin-left: 22px;
}
.form-group input{
    display: flex;
    height: 33px;
    width: 450px;
    border-radius: 5px;
}
.tour-descript{
    height: 200px;
    width: 80%;
}
.tourpage-img{
    width: 300px;
    height: 115px;
}
.tourpage-img button{
    width: 85px;
    height: 33px;
    margin-top: 5%;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
.tourpage-btn:hover{
    background-color: #ecebeb;
}
.tourpage-img-title{
    color: rgb(77, 77, 218);
    margin-left: 10px;
}

/* main */
.form-group input{
    border: 0.75px solid;
    padding: 2px;
}