*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  justify-content: space-between;
  box-shadow: 0 1px 6px rgba(0 , 0 ,0 ,0.1);

  
}

main {
  display: flex;
  position: fixed;
  left: 18vw;
  top: 56px;
  width: 64vw;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  /* background-color: red; */
}
.h-logo-icon {
  width: 48px;
  height: 48px;
  margin: 24px;
}
.h-logo-icon:hover{
  cursor: pointer;
}

.h-menu .menu-logo{
  padding: 0;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.h-menu1{
  justify-content: center;
}
.menu-logo{
  font-size: 14px;
}
.menu-logo:hover{
  background-color: #fafafa;
  cursor: pointer;
}

.h-menu i{
  font-size: 20px;
}

.background-icon{
  content: "";
  z-index: 0;
  top: 4px;
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgb(134 243 255 / 30%);
  
}

.h-user i {
  padding: 0px 3px 0px 3px;
  width: 24px;
  height: 24px;
  font-size: 21px;
}

.h-user-iteam{
  border-radius: 50%;
  padding: 10px 10px 10px 10px;
}
.h-user-iteam:hover{
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}


.h-user img {
  width: 40px;
  height: 40px;
  margin: 0px 45px 0px 0px;
  border-radius: 50%;
}
.h-user img:hover{
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}
.card{
  box-shadow: 0 1px 6px rgba(0.1 , 0.1 ,0.1 ,0.1);
  border: none;
}
.h-location {
  font-size: 16px;
}
.h-day {
  font-size: 14px;
  color: #8f8f8f;
}
.h-cloud {
  font-size: 36px;
  color: #f2f2f1;
  display: flex;
  margin: 0px 13px;
}
.h-temperatures {
  margin: 0px 20px;
}
.h-temperature {
  color: #212121;
  display: flex;
}
.h-do {
  font-size: 25px;
}
.h-CF {
  display: flex;
}

.h-C {
  color: #8f8f8f;
  font-size: 14px;
  margin: 0px 10px;
  width: 20px;
  height: 20px;
}
.h-C:hover{
  background-color: rgb(236, 233, 233);
  cursor: pointer;
}


.h-C-separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background-color: #8f8f8f;
  height: 15px;
  right: 150px;
  top: 25%;
}

.generality {
  padding: 0px;
  display: flex;
}
.generality_list {
  padding: 0px;
}
.generality_list-item {
  list-style: none;
  padding: 0 5px;
  white-space: nowrap;
}
.generality_list-item a {
  text-decoration: none;
  color: #ada9a9;
  font-weight: 450;
  font-size: 13px;
  display: flex;
}
.generality-text {
  margin: 5px 0px 45px 30px;
  display: block;
  color: #909090;
  font-size: 14px;
}
.generality-text:hover {
  text-decoration: underline;
}

.btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  border-radius: 50px;
}
.btn1 {
  height: 36px;
  width: 155px;
  background-color: #ffffff;
  border: 1px solid #bdb5b8;
}
.btn2 {
  height: 36px;
  width: 90px;
  background-color: #24a8d8;
  color: #ffffff;
  border: none;
}
.btn1:hover {
  background-color: #f5f5f5;
}
.btn2:hover {
  background-color: #1f82a7;
}
.h-search {
  display: block;
  color: #24a8d8;
  font-size: 16px;
  float: right;
  margin-top: 5px;
}
.h-search:hover {
  text-decoration: underline;
}

.h-status {
  color: #8f8f8f;
  font-size: 14px;
}
.h_ads {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.experience {
  display: flex;
  justify-content: space-between;
}
.h_navbar {
  height: 100vh;
  overflow-y: scroll;
}
.h_navbar::-webkit-scrollbar {
  width: 6px;
}
.h_navbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.h_navbar::-webkit-scrollbar-track {
  background: transparent;
}
.h_navbar:hover::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}
.h-main-name{
  display: flex;
  justify-content: space-between;
}
.main-name{
  display: flex;
}

.main-name-info{
  margin: 5px 0px 0px 12px ;
  font-weight: 600;
  color: #212121;
}
.main-name-info:hover{
  text-decoration: underline;
}
.main-name-button{
  justify-content: space-between;
  height: 30px;
  width: 113px;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #bdb5b8;
  font-size: 14px;
}
.main-name-button:hover {
  background-color: #f5f5f5;
}

.h-name{
  color: #ff9800;
  font-weight: 500;
}
.h-name-tour{
  display: flex;
  justify-content: space-between;
}
.h-name-tour1{
  height: 64px;
  width: 475px;
  font-size: 20px
}
.h-name-time{
  height: 40px;
  width: 60px;
  background-color: #0ac46b;
  text-align: center;
  color: white;
  border-radius: 0px 20px 0px 20px;
  padding-top: 5px;
}




.exp1 {
  color: #83cee9;
  text-decoration: none;
}
.exp1:hover {
  text-decoration: underline;
  color: #83cee9;
}
.exp {
  font-size: 16px;
}

.h_voucher {
  display: flex;
}
.logo-mini {
  width: 40px;
  height: 40px;
  margin-top: 15px;
}
.h_voucher_titletime {
  margin: 8px;
}
.h_voucher-title {
  font-size: 15px;
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 600;
}
.h_voucher-title:hover {
  text-decoration: underline;
  color: #4a4a4a;
}
.h_voucher-time {
  font-size: 15px;
  color: #8f8f8f;
  margin-top: -5px;
}
.h_papers img {
  width: 124px;
  height: 47px;
}
.copyright {
  padding: 0px;
}
.copyright_list {
  display: flex;
  padding: 0px;
}
.copyright_list-item {
  list-style: none;
  padding: 0 5px;
  white-space: nowrap;
}
.copyright_list-item a {
  text-decoration: none;
  color: #606060;
  font-weight: 450;
  font-size: 13px;
}
.copyright_list-item:hover {
  text-decoration: underline;
}
.copyright-text {
  margin: 10px 0px 45px 30px;
  display: block;
  color: #909090;
  font-size: 12px;
}
