
.su-logos {
display: flex;
}
.su-logo {
height: 76px;
width: 76px;
}
.su-logo-font {
font-size: 24px;
color: #43bae6;
font-weight: 500;
padding: 20px 10px 20px 10px;
}

.su-signup-form {
text-align: center;
}

.su-signup-formsu {
font-size: 26px;
font-weight: 320;
}
.su-name{
display: flex;
justify-content: center;
}
/* test */

.btn-login{
width: 45%;
position: relative;
height: 5%;
margin-left: 34px;
}
.btn-login label{
position: absolute;
bottom: 0px;
left: 0%;
width: 100%;
height: 100%;
margin-left: 16px;
pointer-events: none;
}
.content-name{
position: absolute;
bottom: -18px;
left: 0px;
transition: all 0.3s ease;
font-size: 16px;
}
.btn-login input:focus + .lable-name .content-name,
.btn-login input:valid + .lable-name .content-name {
transform: translateY(-150%);
font-size: 14px;
color: #43bae6;
background-color: white;
}


.content-name1{
position: absolute;
bottom: 17px;
left: 0px;
transition: all 0.3s ease;
font-size: 16px;
}
.btn-login input:focus + .lable-name .content-name1,
.btn-login input:valid + .lable-name .content-name1 {
transform: translateY(-150%);
font-size: 14px;
color: #43bae6;
background-color: white;
}


.inputdecor-book{
border-radius: 0px;
}
.inputdecor-book input:hover{

border: none;
border-bottom: 1px solid #313131;

}
.inputdecor-book input:focus{
outline: none !important;
border-color: #24a8d8;
border: none;
border-bottom: 1px solid #24a8d8;
}
.inputdecor-book input{
height: 48px;
width: 100%;
padding: 0px;
font-size: 18px;
border: none;
border-bottom: 1px solid #ada9a9;
}

.content-namw2-book{
position: absolute;
bottom: 16px;
left: -36px;
transition: all 0.3s ease;
font-size: 16px;
}
.btn-login input:focus + .lable-name .content-namw2-book,
.btn-login input:valid + .lable-name .content-namw2-book {
transform: translateY(-150%);
font-size: 14px;
color: #43bae6;
background-color: white;
}


/* css btn sign in and sign up */


.btn-login input{
height: 56px;
width: 380px;
padding: 15px;
border: 1px solid #8f8f8f;
border-radius: 5px;
font-size: 18px;
}
.btn-login input:hover{
border: 1px solid #4a4a4a;
}
.btn-login input:focus { 
outline: none !important;
border-color: #24a8d8;
}
.su-name-input input:hover{
border: 1px solid #4a4a4a;
}
.su-name-input input:focus{
outline: none !important;
border-color: #24a8d8;
}
.su-name-input input{
height: 56px;
width: 176px;
padding: 15px;
border: 1px solid #8f8f8f;
border-radius: 5px;
font-size: 18px;
}

.su-signup-dk {
height: 40px;
width: 380px;
font-size: 16px;
color: white;
background-color: #43bae6;
border-radius: 30px;
border: none;
}
.su-signup-dk:hover {
background-color: #1f82a7;
}
.su-rules {
font-size: 16px;
text-align: left;
text-align: center;
}
.su-rules-iteam {
text-decoration: none;
color: #43bae6;
}
.su-rules-iteam:hover {
text-decoration: underline;
color: #43bae6;
}

.su-footer {
justify-content: center;
display: flex;
}
.su-footer-btn {
justify-content: space-between;
display: flex;
}
.su-footer-btn-iteam {
height: 36px;
width: 134px;
font-size: 16px;
border-radius: 50px;
border: 1px solid #8f8f8f;
background-color: white;
color: #8f8f8f;
}
.su-footer-btn-iteam:hover {
background-color: #f0f0f1;
}
.su-footer-btn-icon {
border: none;
height: 30px;
width: 73px;
font-size: 14px;
background-color: white;
padding: 0px;
}
.su-footer-btn-icon:hover {
background-color: #f0f0f1;
}
.su-footer-btn-icon1 {
width: 24px;
height: 24px;
border-radius: 50%;
border: 1px solid #ada9a9;
background-color: white;
font-size: 12px;
}
.su-footer-btn-icon1:hover {
background-color: #ada9a9;
}
.su-footer-left1 {
display: flex;
justify-content: center;
}
.su-footer-left {
font-size: 14px;
color: #8f8f8f;
}

/* css-sign-in */

.inputdecor{
border-radius: 0px;
}
.inputdecor input:hover{

border: none;
border-bottom: 1px solid #313131;

}
.inputdecor input:focus{
outline: none !important;
border-color: #24a8d8;
border: none;
border-bottom: 1px solid #24a8d8;
}
.inputdecor input{
height: 48px;
width: 260px;
margin-top: 2px;
padding: 0px;
font-size: 18px;
border: none;
border-bottom: 1px solid #ada9a9;
}

.content-name2{
position: absolute;
bottom: 16px;
left: -36px;
transition: all 0.3s ease;
font-size: 16px;
}
.btn-login input:focus + .lable-name .content-name2,
.btn-login input:valid + .lable-name .content-name2 {
transform: translateY(-150%);
font-size: 14px;
color: #43bae6;
background-color: white;
}
